<h1>Main Page</h1>

<%= link_to "New Thread", new_forum_path %>

<% @forums.each do |forum| %>
  <p>
    <%= link_to forum.title, forum_path(forum.id) %>, <%= forum.created_at %>
  </p>
  <p>
    <%= forum.description %>
  </p>

<% end %>
